
:root{
  --bg_color: #3274d6;
}

*{
  box-sizing: border-box;
  font-family: 'Oswald';
}

body{
  margin: 0;
  background-image: url("../images/bg_main.png");
  background-size: cover;
  background-position: center;
  
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login {
  width: 400px;
  background-color: #ffffff;
}

.login h1 {
  text-align: center;
  color: #5b6574;
  font-size: clamp(16px, 3vw, 24px);
  margin: 0;
  padding: 25px;
  margin-bottom: 15px;
  border-bottom: 1px solid #dee0e4;
}

.login form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.login form label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: var(--bg_color);
  color: #ffffff;
}

.login form input[type="password"], .login form input[type="text"] {
  font-size: clamp(10px, 2vw, 16px);
  width: 310px;
  height: 50px;
  border: 1px solid #dee0e4;
  margin-bottom: 20px;
  padding: 0 15px;
}

.new-account{
  background-color: none;
}

.login form input[type="submit"] {
  font-size: clamp(10px, 2vw, 16px);
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  background-color:  var(--bg_color);
  border: 0;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  transition: background-color 0.2s;
}

.login form input[type="submit"]:hover {
  background-color: var(--bg_color);
  transition: background-color 0.2s;
}