
:root{
  --text-color: #ffffff;
  
}

nav{
    background-color: #6b11cb;
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 2;
}

.logo{
  color: var(--text-color);
  font-size:  clamp(30px, 3vw, 45px);
  font-family: var(--titles-fonts), sans-serif;
  margin-left: 100px;
  line-height: 100px;
}

nav ul{
    float: right;
    margin-right: 5px;
}
  
nav ul li{
    display: inline-block;
    margin-right: 50px;
    margin-top: 20px;
}
  
nav ul li a{
    font-size: clamp(13px, 1.5vw, 20px);
    color: var(--text-color);
    padding: 5px 10px;
    border-radius: 2px;
    text-transform: uppercase;
    text-decoration: none;
}
  
a.active, a:hover{
    background-color: #f9b600;
    transition: 0.5s;
}
  
.check-btn{
    font-size: 50px;
    color: var(--text-color);
    float: right;
    line-height: 90px;
    margin-right: 50px;
    cursor: pointer;
    display: none;
}
  
#check{
    display: none;
}

  
@media (max-width:858px){
    .check-btn{
      display: block;
      cursor: none;
    }
    ul{
      position: fixed;
      margin-top: 0px;
      width: 100%;
      height: 130vh;
      background-color: #2bd1ab;
      text-align: center;
      left: -110%;
      transition: all .5s;
    }

    nav ul li{
      display: block;
      margin: 60px 0px;
      margin-right: 50px;
      line-height: 40px;
    }

    nav ul li a{
      cursor: none;
      background-color: #2bd1ab;
      
    }

    a.active, a:hover{
      color: #165f3d;
      background: transparent;
      transition: 0.5s;
    }

    #check:checked ~ ul{
      left:0;
    }
}
  
@media (max-width:400px){
    .check-btn{
      cursor: none;
    }
    .logo{
      display: none;
    }
    ul{
      margin-top: 100px;   
    }
    nav ul li a{
      cursor: none;    
    }
}
  